<div class="heading main_title">
    <h1>{{ lng.page_title_bids_of_auctions() }}</h1>
</div>
<div class="section_content">
        <div class="get-auction-bids main-form">
            <form class="form-get-auction-bids" id="get-auction-bids-form" action="#" method="get" role="form">
                <div class="get-auction-bids-inputs">
                    <div class="get-bids-auction-id col-lg-20 col-md-20 col-sm-24 col-xs-48">
                        <input type="text" name="auction_id" class="form-control" placeholder="Auction ID ex. UA-2018-02-24-000062-b" maxlength="25">
                    </div>
                    <div class="get-bids-submit-button col-lg-20 col-md-20 col-sm-24 col-xs-48">
                        <button class="btn btn-primary" id="get-auction-bids-button" type="button">{{ lng.button_show_bids() }}</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="panel panel-default block-bids-of-auction">
        <!-- Default panel contents -->
        <div class="panel-heading block-bids-of-auction-title">
            {{ lng.section_list_of_bids() }}
        </div>
        <div class="panel-body list-bids-of-auction">
            <div id="list-of-bids">

            </div>
        </div>
        </div>
</div>