<div class="heading main_title">
    <h1>{{ lng.page_title('page_title_reports_management') }}</h1>
</div>
<div class="section_content">
    <H4>{{ lng.section('section_list_of_reports') }}</H4>
    <div class="list-of-reports" id="admin-list-of-reports">
        {% if reports|length == 0 %}
            <div>{{ lng.message('message_empty_list') }}</div>
        {% else %}
            {% for report in range(reports|length) %}
                <div class="report-info" id="report-id-{{ reports[report].id }}">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">{{ reports[report].id }}</div>
                    <a class="col-lg-40 col-md-40 col-sm-40 col-xs-46" href="{{ url_for('admin_report_view', report_id=reports[report].id) }}" target="_blank">{{ reports[report].title }}</a>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-16 {{ 'report-type-' + report_types[reports[report].type_id] }}" title="{{ lng.report_type('report_type_' + report_types[reports[report].type_id]) }}"></div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-16 {{ 'report-priority-' + report_priorities[reports[report].priority_id] }}"
                         title="{{ lng.report_priority('report_priority_' + report_priorities[reports[report].priority_id]) }}"></div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-16 {{ 'report-status-' + report_statuses[reports[report].status_id] }}" title="{{ lng.report_status('report_status_' + report_statuses[reports[report].status_id]) }}"></div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
