<div class="col-lg-12 col-md-12 col-sm-24 col-xs-24 footer_sections">
    	<ul class="list-inline">
            <li><a href="https://github.com/andriibuimistr/Tenders-Api" target="_blank" title="View project on Github"><img src="../static/images/github.png" width="32" height="32"></a></li>
            {% if user_role_id == 1 %}
                <li><a href="#" title="Add bug report"><img src="../static/images/bug.png" width="32" height="32"></a></li>
            {% endif %}

        </ul>
    	<div class="rights">
    	<p>TEST.QA {{ now.year }} ©<br>{{ lng.message_all_rights_reserved() }}</p>
        </div>
    </div>
    <div class="footer_middle col-lg-24 col-md-24 hidden-sm hidden-xs">
        <div class="col-lg-24 col-md-24 col-sm-24 col-xs-24 footer_sections">
            <div class="col-lg-14 col-md-14 col-sm-12 col-xs-12"></div>
            <div class="footer_list col-lg-34 col-md-34 col-sm-36 col-xs-36">
                <div class="footer_sections_title">
                    <h3>Test.QA</h3>
                </div>
                <ul class="footer-menu">
                     <li><a href="/">{{ lng.menu_main_page() }}</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-24 col-md-24 col-sm-24 col-xs-24 footer_sections">
            <div class="col-lg-14 col-md-14 col-sm-12 col-xs-12"></div>
            <div class="footer_list col-lg-34 col-md-34 col-sm-36 col-xs-36">
                <div class="footer_sections_title">
                    <h3>{{ lng.section_popular_links() }}</h3>
                </div>
                <ul class="footer-menu">
                     <li><a href="{{ url_for('page_create_tender')}}">{{ lng.menu_item_create_tender() }}</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-24 col-xs-24 footer_sections social_section">
		<div class="contact">
        	<dl class="dl-horizontal">
              <dt>Email:</dt>
              <dd>info@test.qa</dd>
              <dt>{{ lng.label_phone() }}:</dt>
              <dd>+1234567890</dd>
            </dl>
        </div>
    </div>