<head>
	<!--Версия сайта 1.0-->
	<meta charset="utf-8">
	<title>QA Tenders</title>
    <!--Добавляем мета описание для поисковиков-->
	<meta name="description" content="Мета описание сайта визитка">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
	<!--Иконка-->
    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon" />
    <!--Свой CSS-->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
  	<!-- Latest compiled and minified CSS -->
  	<link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">

 	 <!-- Optional theme -->
 	 <link rel="stylesheet" href="../static/bootstrap/css/bootstrap-theme.css">

  	<!-- jQuery -->
 	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

 	 <!-- Latest compiled and minified JavaScript -->
 	 <script src="../static/bootstrap/js/bootstrap.js"></script>
     <!--Кнопка вверх-->
     <script type='text/javascript' src='../static/js/scrollup.js'></script>
     <script type='text/javascript' src='../static/js/forms.js'></script>
</head>