<!doctype html>
<html>
{% include 'head.html' %}
<body>
	<header>
    {% include 'header.html' %}
    </header>
    <div class="wrapper container">

<!--Главный контейнер-->
        <div class="row main_container">
            {% if not disable_sidebar %}
                <!--Левая колонка-->
                <section class="col-lg-35 col-md-48 col-sm-48 col-xs-48 main_column">
                    {{ content|safe }}
                </section>
                <!--Правая колонка-->
			    {% include 'sidebar.html' %}
            {% else %}
                <!--Левая колонка-->
                <section class="col-lg-48 col-md-48 col-sm-48 col-xs-48 main_column">
                    {{ content|safe }}
                </section>
            {% endif %}
		</div>
    </div>
    <footer>
        {% include 'footer.html' %}
        <div id="modalWindowContainer"></div>
    </footer>
    <div id="scrollup"><img alt="{{ lng.hint('hint_button_up') }}" src="/../static/images/design/up.png"></div>
</body>
</html>
