<!doctype html>
<html>
{% include 'head.html' %}
<body>
	<header>
    {% include 'header.html' %}
    </header>
    <div class="wrapper container">

<!--Главный контейнер-->
        <div class="row main_container">
        <!--Левая колонка-->
        	<section class="col-lg-35 col-md-48 col-sm-48 col-xs-48 main_column">
                {{ content|safe }}
            </section>
            <!--Правая колонка-->
			{% include 'sidebar.html' %}
		</div>
    </div>
    <footer>
        {% include 'footer.html' %}
        <div id="modalWindowContainer"></div>
    </footer>
    <div id="scrollup"><img alt="Прокрутить вверх" src="../static/images/design/up.png"></div>
</body>
</html>
