<div class="modal-bug-report" id="modalBugReport">
  <div class="modal-header">
    <a class="close">×</a>
    <h3>{{ lng.section('section_add_bug_report') }}</h3>
  </div>
  <div class="modal-body">
    <form class="form-add-report" id="addReportForm" role="form">
        <div class="form-group">
            <label for="reportTitle">{{ lng.label('label_report_title') }}</label>
            <input name="reportTitle" id="reportTitle" type="text" class="form-control" maxlength="255">
        </div>
        <div class="form-group">
            <label for="reportType">{{ lng.label('label_report_type') }}</label>
            <select name="reportType" id="reportType" class="form-control">
                <option value="2">Bug</option>
            </select>
        </div>
        <div class="form-group">
            <label for="reportContent">{{ lng.label('label_report_content') }}</label>
            <textarea name="reportContent" id="reportContent" maxlength="2000"></textarea>
        </div>
        <div class="form-group">
            <label for="reportPriority">{{ lng.label('label_report_priority') }}</label>
            <select name="reportPriority" id="reportPriority" class="form-control">
                <option value="1">High</option>
            </select>
        </div>
        <div class="form-group">
            <label for="reportFile">{{ lng.label('label_report_file') }}</label>
            <input name="reportFile" type="file" class="form-control-file" id="reportFile">
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" id="sendReportButton" type="button">{{ lng.button('button_send') }}</button>
        </div>
    </form>
  </div>
</div>