<aside class="col-lg-13 col-md-48 col-sm-48 col-xs-48 secondary_column">
<div class="col-lg-48 col-md-16 col-sm-24 col-xs-48 block">
    <div class="block_header">
        <h3>Картинки</h3>
    </div>
    <div class="block_content">
    <!--Направление 1-->
    <div class="travel">
        <a href="#">
        <div class="mini">
        <img src="../static/images/destinations/Australia.jpg" width="300" height="150" alt="Австралия" title="Туры в австралию">
        </div>
        <div class="travel_title">
            <p>Австралия</p>
        </div>
        <div class="description">
            <p>Яркие и незабываемые впечатления останутся у вас надолго, после посещения удивительной страны - Австралии.</p>
        </div>
        </a>
    </div>
    <br>
<!--Направление 2-->
    <div class="travel">
        <a href="#">
        <div class="mini">
        <img src="../static/images/destinations/France.jpg" width="300" height="150" alt="Австралия" title="Туры в австралию">
        </div>
        <div class="travel_title">
            <p>Франция</p>
        </div>
        <div class="description">
            <p>Интересные, насыщенные программы с экскурсиями по французским провинциям, делающие отдых во Франции интересным, комфортным путешествием.</p>
        </div>
        </a>
    </div>
    <br>
<!--Направление 3-->
    <div class="travel">
            <a href="#">
            <div class="mini">
            <img src="../static/images/destinations/USA.jpg" width="300" height="150" alt="Австралия" title="Туры в австралию">
            </div>
            <div class="travel_title">
                <p>США</p>
            </div>
            <div class="description">
                <p>Здесь строгая красота Ниагары сменяется беспечностью солнечной Флориды, а синева Тихого океана безумством красок неоновых огней Лас-Вегаса.</p>
            </div>
            </a>
        </div>
    </div>
</div>
<div class="col-lg-48 col-md-16 col-sm-24 col-xs-48 block">
    <!--<div class="block_header">-->
        <!--<h3>Синхронизация</h3>-->
    <!--</div>-->
    <!--<div class="block_content">-->
        <!--<div class="button-synchronization">-->
    <!--<button class="btn btn-primary create-tender-button" id="synchronization" type="button">Synchronize</button>-->
        <!--</div>-->

    </div>
</div>
</aside>