<div class="heading main_title">
    <h1>Работа со ставками</h1>
</div>
<div class="section_content">
        <div class="get-tender-bids main-form">
            <form class="form-get-tender-bids" id="get-tender-bids-form" action="#" method="get" role="form">
                <div class="get-tender-bids-inputs">
                    <div class="get-bids-tender-id col-lg-20 col-md-20 col-sm-24 col-xs-48">
                        <input type="text" name="tender_id" class="form-control" placeholder="Tender ID ex. UA-2018-02-24-000062-b" maxlength="22">
                    </div>
                    <div class="get-bids-submit-button col-lg-20 col-md-20 col-sm-24 col-xs-48">
                        <button class="btn btn-primary" id="get-tender-bids-button" type="button">Get bids</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="panel panel-default block-bids-of-tender">
        <!-- Default panel contents -->
        <div class="panel-heading block-bids-of-tender-title">
            List of bids
        </div>
        <div class="panel-body list-bids-of-tender">
            <div id="list-of-bids">

            </div>
        </div>
        </div>
</div>