<div class="modal-bug-report" id="modalBugReport">
  <div class="modal-header">
    <a class="close">×</a>
    <h3>{{ lng.section('section_edit_bug_report') }}</h3>
  </div>
  <div class="modal-body">
    <form class="form-edit-report" id="editReportForm" role="form">
        <div class="form-group required">
            <label for="reportTitle">{{ lng.label('label_report_title') }}</label>
            <input name="reportTitle" class="form-control class-required" id="reportTitle" type="text" value="{{ report_data.title }}" maxlength="255">
        </div>
        <div class="form-group">
            <label for="reportType">{{ lng.label('label_report_type') }}</label>
            <select name="reportType" class="form-control" id="reportType">
                {% for type in range(report_types|length) %}
                    {% if report_types[type].id == report_data.type_id %}
                        <option value="{{ report_types[type].id }}" selected="selected">{{ lng.report_type('report_type_' + report_types[type].name) }}</option>
                    {% else %}
                        <option value="{{ report_types[type].id }}">{{ lng.report_type('report_type_' + report_types[type].name) }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="form-group required">
            <label for="reportContent">{{ lng.label('label_report_content') }}</label>
            <textarea name="reportContent" class="form-control class-required" id="reportContent" maxlength="2000">{{ report_data.content }}</textarea>
        </div>
        <div class="form-group">
            <label for="reportPriority">{{ lng.label('label_report_priority') }}</label>
            <select name="reportPriority" class="form-control" id="reportPriority">
                {% for priority in range(report_priorities|length) %}
                    {% if report_priorities[priority].id == report_data.priority_id %}
                        <option value="{{ report_priorities[priority].id }}" selected="selected">{{ lng.report_priority('report_priority_' + report_priorities[priority].name) }}</option>
                    {% else %}
                        <option value="{{ report_priorities[priority].id }}">{{ lng.report_priority('report_priority_' + report_priorities[priority].name) }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="report-files col-lg-48 col-md-48 col-sm-48 col-xs-48">
            {% for document in range(report_documents|length) %}
                <div class="report-file report-files-item col-lg-48 col-md-48 col-sm-48 col-xs-48" id="{{ 'document-id-' + report_documents[document].id|string }}">
                    <div class="col-lg-46 col-md-46 col-sm-46 col-xs-46">
                        <div class="report-document-type-icon report-document-type-icon-{{ report_documents[document].original_filename.split('.')[-1] }}"></div>
                        <a target="_blank" href="{{ url_for('download_file', entity='report', filename=report_documents[document].filename) }}">{{ report_documents[document].original_filename }}</a>
                    </div>
                    <div class="report-document-actions col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <div class="report-document-action-delete" id="{{ report_documents[document].id|string }}" title="{{ lng.hint('hint_delete') }}"></div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="form-group files-inputs" id="reportFiles">
            <label for="UploadedFile[0][file]">{{ lng.label('label_report_file') }}</label>
            <input name="UploadedFile[0][file]" type="file" class="form-control-file" id="UploadedFile[0][file]">
        </div>
        <div class="add-file-input">
            <button class="btn btn-primary btn-xs" id="addReportFileInput" type="button">{{ lng.button('button_add_file_input') }}</button>
        </div>
    </form>
  </div>
  <div class="modal-footer">
      <button class="btn btn-primary" id="saveReportButton" type="button">{{ lng.button('button_save') }}</button>
  </div>
</div>