<!-- include summernote editor css/js -->
<script src='/../static/plugins/summernote_editor/summernote.js'></script>
<link rel="stylesheet" href='/../static/plugins/summernote_editor/summernote.css'>
<div class="modal-bug-report" id="modalBugReport">
  <div class="modal-header">
    <a class="close" id="closeModal">×</a>
    <h3>{{ lng.section('section_add_bug_report') }}</h3>
  </div>
  <div class="modal-body">
    <form class="form-add-report" id="addReportForm" role="form">
        <div class="form-group required">
            <label for="reportTitle">{{ lng.label('label_report_title') }}</label>
            <input name="reportTitle" class="form-control class-required" id="reportTitle" type="text"  maxlength="255">
        </div>
        <div class="form-group">
            <label for="reportType">{{ lng.label('label_report_type') }}</label>
            <select name="reportType" class="form-control" id="reportType">
                {% for type in range(report_types|length) %}
                    <option value="{{ report_types[type].id }}">{{ lng.report_type('report_type_' + report_types[type].name) }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group required">
            <label for="reportContent">{{ lng.label('label_report_content') }}</label>
            <textarea name="reportContent" class="form-control class-required" id="reportContent" maxlength="2000"></textarea>
        </div>
        <div class="form-group">
            <label for="reportPriority">{{ lng.label('label_report_priority') }}</label>
            <select name="reportPriority" class="form-control" id="reportPriority">
                {% for priority in range(report_priorities|length) %}
                    <option value="{{ report_priorities[priority].id }}">{{ lng.report_priority('report_priority_' + report_priorities[priority].name) }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group files-inputs" id="reportFiles">
            <label for="UploadedFile[0][file]">{{ lng.label('label_report_file') }}</label>
            <input name="UploadedFile[0][file]" type="file" class="form-control-file" id="UploadedFile[0][file]">
        </div>
        <div class="add-file-input">
            <button class="btn btn-primary btn-xs" id="addReportFileInput" type="button">{{ lng.button('button_add_file_input') }}</button>
        </div>
    </form>
  </div>
  <div class="modal-footer">
      <button class="btn btn-primary" id="addReportButton" type="button">{{ lng.button('button_send') }}</button>
  </div>
</div>
<script>
    $(document).ready(function() {
        $('#reportContent').summernote({height: 200});
    });
</script>